/********** Base **********/

* {@include box-sizing('border-box');}

header {
    @include clearfix;
    background-color: $color-header; 
    padding: 3% 1.5% 3% 1.8% ;
    text-transform: uppercase;
    text-align: center;
}       

footer {
    @extend header;
    @extend .txt-shad;
    padding: .9em 0 .9em 0;
    color: white;
    @include clearfix;
        nav {
            margin: 0 auto;
            opacity: .8;
                ul {padding: 1em;}
                li {display: inline;
                    margin: .3em;}
        a {@extend %transition;
          font-size: 2.1em;
          text-decoration: none;
          $text-shadow: .9px .9px .9px rgba(188, 221, 240, .8) !global;
          color: rgba(150, 150, 150, 1);
          padding: .4em;
          }
    }  
}

section {
    height: 25em;
    text-align: center;
    vertical-align: middle;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);
}

.service {
      p {
         @extend %g-6-12;
         font-size: 1.2em;
         line-height: 1.5em;
         margin: auto;
         text-align: center;}
}

.design div{
    margin: 1em 0;
    text-shadow: 0.9px 0.9px 0.9px rgba(
    170, 0, 0, .8);
}

.gn {display: none;}

.main {
    margin: 0 auto;
    width: 100%;
    max-width: 80em;
    background-color: $color-main-background;
}

.button {
        @extend %button;
        margin-top: 8em;
          a {
            text-decoration: none;
            text-transform: uppercase;
            color: red;
            font-size: 2.1em;}
}   
    
.logo{
    float: left;
    letter-spacing: .47em;
        a {text-decoration: none;
           color: white;}
}
        
.nav-top {
    @extend .txt-shad;
    line-height: 2.5;
    font-size: 124%;
        a {text-decoration: none;
           display: block;
           color: rgba(255,255,255, .975);}
        li {padding-left: 2%;
            text-transform: uppercase;
            letter-spacing: .47em;
                &:hover {@extend %transition;
                         color: $color-a-transition;
                         opacity: .85;}
            }
        li:first-child {background-color: lighten($color-header, 43%);}
        li:nth-child(2){background-color: lighten($color-header, 33%);}
        li:nth-child(n+3){background-color: lighten($color-header, 23%);}
        li:last-child {background-color: lighten($color-header, 13%);}
}
                                                  
.nav-hdr {
     a {color: rgba(255, 255, 255, .975);
        text-decoration: none;}
}
                    
.nav-toggle {
    float: right;
    text-shadow: $text-shadow;
    font-size: 1.6em;
    padding: .2em;
    transition: ease .5s;
        &:before {
            content:'≡';}
        &:hover {
            text-shadow: $text-shadow-toggle-hover;}
}

.work {
    background-color: darken($color-work, 36%);
       ul {display: inline-block;}
       li {
          @extend %transition;
          @extend %card;
          list-style: none;
          margin:  auto;
          text-shadow: $text-shadow;
          text-align: center;
          text-transform: uppercase;
             a {
                @extend .txt-shad;
                @extend %transition;
                vertical-align: middle;
                line-height: 6em;
                font-size: 1.1em;
                padding: 1.3em;
                text-decoration: none;
                color: white;
                    &:hover {color: $color-a-transition;}
                }
          }
}

.card, %card {
    background: rgba(200, 200, 200, .7);
    box-shadow: .5px 1.5px 1px .5px rgba(255, 255, 255, 1);
    height: 6em;
    margin: 1.2em;
    text-shadow: $text-shadow;
    width: 10em;
 }


.about {
    background: url("../images/city.jpg") ;
    background-size: cover;
    opacity: .6;
}  

.nav-top a:hover, .contact a:hover{color: $color-a-transition;}

.txt-shad {text-shadow: $text-shadow;}

.toTop>a:before {
    background-color: rgba(240, 240, 245,.75);
    border: 1px solid rgba(0,0,0,.375);
    border-radius: 2px;
    bottom: .4em;
    colo1: #0D2030;
    content: '↑';
    font-size: 2.25em;
    padding: .4em;
    position: fixed;
    right: .4em; 
    text-shadow: 0.9px 0.9px 0.9px rgba(228, 114, 37, 0.8);
    z-index: 1;
    @extend %transition;
       &:hover{color: saturate(#47b3bd, 91%);}
}

#services {background-color: lighten($color-main-background, 11%);}

#contact {background-color: lighten($color-main-background, 10%);}