%button {
  -webkit-touch-callout: none;
  background-clip: padding-box;
  border: 1px solid rgba(21,21,21,.35) ;
  border-radius: 0.2em;
  cursor: pointer;
  display: inline-block;
  font: 80%/2.3 'Open Sans Condensed';
  letter-spacing: -1px;
  padding: .5em 1.8em;
  position: relative;
  text-align: center;
  text-decoration: none !important;
  text-shadow: $text-shadow;
}