@include mq(xs) {
    html {font-size: 90%;}
}

@include mq(s) {
    html {font-size: 110%;}
} 

@include mq(m) {
    html{font-size: 120%;}
}

@include mq(ml) {
  .nav-top {display: none;}
}

@include mq(lg) {
    html{font-size: 130%;}
    .nav-top {
        li{text-align: center;
          letter-spacing: .206em;
          float: left;
          width: 25%;}
    }
    .nav-toggle {display: none;}
    .logo {float:none;
            letter-spacing: .618em;}
}

@include mq(xl) {
    html{font-size: 140%;}
}