/********** Fonts **********/

@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

@font-face {
  font-family:'icomoon';src:url("fonts/icomoon.eot");src:url("fonts/icomoon.eot?#iefix") format("embedded-opentype"),url("fonts/icomoon.woff") format("woff"),url("fonts/icomoon.ttf") format("truetype"),url("fonts/icomoon.svg#icomoon") format("svg");font-weight:normal;font-style:normal;
}

[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

html {
    font-family: 'Open Sans Condensed', georgia, helvetica, serif; 
    font-weight: 300;
    font-size: 100%;
    line-height: 1.5em;
    letter-spacing: .05em;
}                                                           
h1 {
    color: white;
    font-size: 1.6em;
    text-transform: uppercase;
    text-shadow: $text-shadow;
}

h2 {
    text-align:center;
    color: red;
    letter-spacing: .206em;
    line-height: 3.8em;
    font-size: 1.6em;
    text-transform: uppercase;
    text-shadow: $text-shadow;
}

h3 {
    text-align:center;
    color: rgba(250,10,10,.9);
    letter-spacing: .103em;
    line-height: 2.8;
    font-size: 1.1em;
    text-transform: uppercase;
    text-shadow: $text-shadow;
}
