:root {
  --color-link: #4080a0;
  --color-link--hover: #83b5ce;
  --font-color: rgba(31, 31, 31, 0.9);
  --font-size: calc(1vw + 1vh + .77vmin);
  --font-stack--1: Verdana,Geneva,sans-serif;
  --text-shadow: rgba(213, 148, 83, 0.66);
  --link-ease: cubic-bezier(0.01, 0.93, 0.9, 1.02);
  --link-timing: 444ms; }

* {
  box-sizing: border-box;
  margin-top: 1em; }

body {
  line-height: 1.4;
  color: var(--font-color);
  font-family: var(--font-stack--1);
  font-size: var(--font-size);
  letter-spacing: .01em;
  padding: .1em .3em;
  height: 100%; }

@media (min-width: 500px) {
  body {
    font-size: 14px; } }

header {
  text-align: center; }

h1 a {
  color: var(--font-color);
  text-decoration: none;
  text-shadow: 0 0 1px var(--text-shadow); }

nav,
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 1em; }

main {
  -webkit-transition: all 3s;
  transition: all 3s; }

main ul {
  padding-left: 0; }

main li {
  list-style: none; }

main li a {
  text-decoration: none; }

main > div:not(:target) {
  -webkit-transition: all 3s;
  transition: all 3s;
  display: none;
  opacity: 0; }

a {
  color: var(--color-link); }

a:target,
p:first-letter {
  font-weight: 600;
  font-size: 133%;
  padding-left: .5em;
  padding-right: .01em;
  letter-spacing: .02em; }

.index {
  display: none; }

.block {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 3em;
  flex: 0 1 3em;
  margin: 2.25em;
  padding: 1.5em 2.5em;
  background: #5eabed;
  color: #fff;
  text-decoration: none;
  box-shadow: 0 0 2px slategrey; }

.block:after {
  content: '';
  position: absolute;
  -webkit-transform: translate(-40%, -10%);
  transform: translate(-40%, -10%);
  padding: 2.3em 3.3em;
  background: rgba(231, 132, 19, 0.15);
  -webkit-transition: all var(--link-ease) var(--link-timing);
  transition: all var(--link-ease) var(--link-timing); }

.block:hover:after {
  -webkit-transform: translate(-110%, -60%);
  transform: translate(-110%, -60%); }

.block:before {
  content: '';
  position: absolute;
  -webkit-transform: translate(-55%, -55%);
  transform: translate(-55%, -55%);
  padding: 2.3em 3.3em;
  background: rgba(103, 183, 224, 0.15);
  -webkit-transition: all var(--link-ease) var(--link-timing);
  transition: all var(--link-ease) var(--link-timing); }

.block:hover:before {
  -webkit-transform: translate(10%, 10%);
  transform: translate(10%, 10%); }

.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 55vw;
  margin: 1em auto 1em; }

.footer-menu--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.footer-menu--item a {
  padding: .8em;
  fill: var(--color-link);
  -webkit-filter: drop-shadow(0.33px 0.33px 0.66px red);
  filter: drop-shadow(0.33px 0.33px 0.66px red);
  -webkit-transition: fill 330ms;
  transition: fill 330ms; }

.footer-menu--item a.twitter:hover {
  fill: #1ca0f2;
  -webkit-filter: drop-shadow(1px 1px 1px #777);
  filter: drop-shadow(1px 1px 1px #777); }

.footer-menu--item a.linkedIn:hover {
  fill: #0070a8;
  -webkit-filter: drop-shadow(1px 1px 1px #777);
  filter: drop-shadow(1px 1px 1px #777); }

.footer-menu--item a.github:hover {
  fill: #333333;
  -webkit-filter: drop-shadow(1px 1px 1px #777);
  filter: drop-shadow(1px 1px 1px #777); }

.footer-menu--item a.email:hover {
  fill: #fb805b;
  -webkit-filter: drop-shadow(1px 1px 1px #777);
  filter: drop-shadow(1px 1px 1px #777); }

div:target {
  max-width: 20em;
  -webkit-animation: size var(--link-timing) var(--link-ease), visibility 500ms ease-out;
  animation: size var(--link-timing) var(--link-ease), visibility 500ms ease-out; }

@-webkit-keyframes size {
  from {
    -webkit-transform: scale(0);
    transform: scale(0); }
  to {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes size {
  from {
    -webkit-transform: scale(0);
    transform: scale(0); }
  to {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@-webkit-keyframes visibility {
  from {
    -webkit-transform: scale(0.2);
    transform: scale(0.2); }
  to {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes visibility {
  from {
    -webkit-transform: scale(0.2);
    transform: scale(0.2); }
  to {
    -webkit-transform: scale(1);
    transform: scale(1); } }

/*# sourceMappingURL=main.css.map */
