main
  section#about.about

  section#services.services

    .services-module

    .services-module

    .services-module

  section#work.work

    .portfolio-item
      a(href="http://cdpn.io/mcgte")
        h3.desc Calculator

    .portfolio-item
      a(href="http://dev-toolkit.herokuapp.com/")
        h3.Schedule Schedule

  section#contact.contact
    a(href='mailto:rma.james@gmail.com') contact
