main
  section#about
    h2 about
    li
      p
        |Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks. 
          
  //- section#services
  //-   h2 services
  //-   li
  //-     h3 define
  //-     |
  //-   li
  //-     h3 design
  //-     |
  //-   li
  //-     h3 refine    
  //-     |
  //- section#work
    
    li
      a(href="http://cdpn.io/mcgte") 
        h3.desc Calculator
          P | An online Calculator
      
    li
      a(href="http://dev-toolkit.herokuapp.com/") Schedule
    
  //- section#contact
  //-   h2 contact
  //-   #wufoo-m1s0myta1pbzrtg
  //-     //- //- | Fill out my
  //-     //- a(href='https://rmjames.wufoo.com/forms/m1s0myta1pbzrtg') online form
  //-     //-   | .
  //-     #wuf-adv(style='font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;')
  //-       | Online contact and registration forms from
  //-       a(href='http://www.wufoo.com') Wufoo
  //-       | .