main
  section#about
    li
      p
        |Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks. 
          
  section#services
    li
      define
    li
      design
    li
      refine
      
      
  section#work
    li
      a(href="http://cdpn.io/mcgte") Calculator
      
    li
      a(href="http://dev-toolkit.herokuapp.com/") Schedule
    
  section#contact
    li
      p
        | Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks. Motherfucker do that shit to me, he better paralyze my ass, 'cause I'll kill the motherfucker, know what I'm sayin'? 