main
  section#about.about
    //h2 Web Designer | Developer

  section#services.services
    //h2 services

    .services-module
      //h3 define

    .services-module
      //h3 design

    .services-module
      //h3 refine

  section#work.work

    .portfolio-item
      a(href="http://cdpn.io/mcgte")
        h3.desc Calculator

    .portfolio-item
      a(href="http://dev-toolkit.herokuapp.com/")
        h3.Schedule Schedule

  section#contact.contact
    h2 contact
