@import 'styles/modules/config';
@import 'styles/modules/reset';
@import 'styles/modules/function-mixin.scss';
@import 'styles/modules/animation-transition.scss';
@import 'styles/modules/typography';
@import 'styles/components/header.scss';
@import 'styles/components/footer.scss';
@import 'styles/components/services.scss';
@import 'styles/components/button.scss';
@import 'styles/components/contact.scss';
@import 'styles/components/work.scss';

html {
  border-box: box-sizing;
  width: 100%;
  height: 100%;
}

*, *:after, *:before { box-sizing: inherit; }

body {
  position: relative;
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 100%;
  min-height: 100%;
  margin: 0 auto;
  line-height: 1.4;
  letter-spacing: .1em;
  color: $color-text;
}

img { vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea { resize: vertical; }

.about {
  background: lighten($color-header, 68%);
  height: 70vh;
  position: relative;
  text-shadow: $text-shadow;
    &:before {
      @include center;
      content: 'Web Developer';
    }
}
