body {
    display: flex;
    flex-direction: column;
    background: light-dark(var(--white-1), color-mix(in oklch, var(--bkgnd) 24%, var(--blue-3) 2%));
    color: light-dark(var(--text-dark-color), var(--text-light-color));
    font-family: var(--font-stack);
    font-optical-sizing: auto;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: auto;
    -moz-text-size-adjust: auto;
    min-block-size: 100vh;
    padding: 0 4cqi;
    font-size: clamp(1rem, calc(1rem + 0.125cqi), 2rem);

    @media (prefers-reduced-motion: no-preference) {
        interpolate-size: allow-keywords;
    }
}

main {
    margin: auto;
}

.cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-block-size: 100vh;
    padding: var(--m);
    position: relative;
    text-wrap: pretty;
}

#main-content {
    max-width: max(48ch, 64ch);
}