header
	h1.top-headline
	  robert james   
	.logo
  nav.nav
    ul
      li: a(href="#about") About
      li: a(href="#services") Services
      li: a(href="#work") Work
      li: a(href="#contact") Contact

