footer {
  background: lighten($color-header, 70%);
  box-shadow: 0px 0px 3px $color-text;
  text-align: center;
  padding: .53rem 0;
      p { padding-bottom: 1em; }

      ul {
        display: flex;
        flex-flow: wrap;
        justify-content: space-around;
        margin-bottom: .5em;
        list-style: none;
        }

      li {
        flex: 0 1 7em;
        margin: 1.3em .05em;
        text-align: center;
        line-height: 3em;
        }

      a {
        display: block;
        color: rgba(18, 24, 61, .9);
        font-size: 2.4em;
        $text-shadow: .9px .9px .9px rgba(188, 221, 240, .8);
        text-decoration: none;
        padding: .5em;
             &:hover {
               @extend %transition;
               border: 1px solid currentColer;
               //color: $color-a-transition;
               opacity: .45;
             }
        }
}

.icon-twitter {
  color: #55acee;
}

.icon-linkedin {
  color: #0077b5;
}

.icon-github {
  color: #333;
}
