.work {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  margin-bottom: .1rem;
  background: url("../images/greyzz.png") fixed;
    li {
      list-style: none;
      padding: 2rem;
    }
    p {
      font-size: 1.1em;
      padding: 4.5rem;
    }
}

.portfolio-item {
  background-size: cover;
  background-position: 50% 50%;
  box-shadow: 4px 4px 3px rgba(40,40,40,.5);
  margin: 1em;
  height: 12em;
  text-align: center;
  text-transform: uppercase;
  transform: skew(-2deg);
  flex: 0 1 14em;
    a {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      text-decoration: none;
      text-transform: uppercase;
    }
    &:nth-child(1) {
      background: url("../images/calc.jpg");
      background-size: cover;
      background-position: 50% 50%;
    }
    &:nth-child(2) {
      background: url("../images/sched.jpg");
      background-size: cover;
      background-position: 50% 50%;
    }
    a { display: block; }
}
