[role="img"] {
    width: 1.25rem;
    height: 1.25rem;
    margin-block-end: 0.3rem;
}

.icon-set {
    display: none;
}

.icon-text {
    margin-block-end: 0.1rem;
}

#icon-twitter {
    margin-block-end: 0.3rem;
}

@media (max-width: 760px) {
    [role="img"] {
        display: none;
    }
}