:root {
    --color-link: #4080a0;
    --color-link--hover: #83b5ce;
    --font-color: rgba(31, 31, 31, 0.9);
    --font-size: calc(1vw + 1vh + .77vmin);
    --font-stack--1: Verdana,Geneva,sans-serif;
    --text-shadow: rgba(213, 148, 83, 0.66);
    --link-ease: cubic-bezier(0.01, 0.93, 0.9, 1.02);
    --link-timing: 444ms;
}

* {
  box-sizing: border-box;
  margin-top: 1em;
}

body {
  line-height: 1.4;
  color: var(--font-color);
  font-family: var(--font-stack--1);
  font-size: var(--font-size);
  letter-spacing: .01em;
  padding: .1em .3em;
  height: 100%;
}

@media (min-width: 500px) {
  body {
    font-size: 14px;
  }
}

header {
  text-align: center;
}

h1 a {
  color: var(--font-color);
  text-decoration: none;
  text-shadow: 0 0 1px var(--text-shadow);
}

nav,
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 1em;
}

main { transition: all 3s; }
main ul { padding-left: 0; }
main li { list-style: none; }
main li a { text-decoration: none; }

main > div:not(:target) {
  transition: all 3s;
  display: none;
  opacity: 0;
}

a { color: var(--color-link); }

a:target,
p:first-letter {
  font-weight: 600;
  font-size: 133%;
  padding-left: .5em;
  padding-right: .01em;
  letter-spacing: .02em;
}

.index { display: none; }

.block {
  position: relative;
  flex: 0 1 3em;
  margin: 2.25em;
  padding: 1.5em 2.5em;
  background: #5eabed;
  color: #fff;
  text-decoration: none;
  box-shadow: 0 0 2px slategrey;
}
.block:after {
  content: '';
  position: absolute;
  transform: translate(-40%, -10%);
  padding: 2.3em 3.3em;
  background: rgba(231, 132, 19, 0.15);
  transition: all var(--link-ease) var(--link-timing);
}

.block:hover:after { transform: translate(-110%, -60%); }

.block:before {
  content: '';
  position: absolute;
  transform: translate(-55%, -55%);
  padding: 2.3em 3.3em;
  background: rgba(103, 183, 224, 0.15);
  transition: all var(--link-ease) var(--link-timing);
}

.block:hover:before { transform: translate(10%, 10%); }

.footer-menu {
  display: flex;
  flex-wrap: wrap;
  max-width: 55vw;
  margin: 1em auto 1em;
}

.footer-menu--item {
  display: flex;
  justify-content: center;
  flex: 1;
}

.footer-menu--item a {
    padding: .8em;
    fill: var(--color-link);
    filter: drop-shadow(0.33px 0.33px 0.66px red);
    transition: fill 330ms;
}

.footer-menu--item a.twitter:hover {
  fill: #1ca0f2;
  filter: drop-shadow(1px 1px 1px #777);
}

.footer-menu--item a.linkedIn:hover {
  fill: #0070a8;
  filter: drop-shadow(1px 1px 1px #777);
}
.footer-menu--item a.github:hover {
  fill: #333333;
  filter: drop-shadow(1px 1px 1px #777);
}

.footer-menu--item a.email:hover {
  fill: #fb805b;
  filter: drop-shadow(1px 1px 1px #777);
}

div:target {
  max-width: 20em;
  animation: size var(--link-timing) var(--link-ease), visibility 500ms ease-out;
}

@keyframes size {
  from { transform: scale(0); }
  to { transform: scale(1); }
}

@keyframes visibility {
  from { transform: scale(0.2); }
  to { transform: scale(1); }
}