//////////////////////////////
// Imports
//////////////////////////////
@import "compass";
@import "compass/reset";
@import "compass/css3";
@import "color-schemer";
@import "state";
@import "fonts";
@import "colors";

* {@include box-sizing('border-box');
 }
    
body {margin: 0 auto;
			width: 100%;
			max-width: 1024px;
	}

h1 {text-shadow: $text-shadow;
		color: white;
		font-size:131%;
}

h2 {text-transform: uppercase;
		text-align: center;
		text-shadow: $text-shadow;
		color: $color-h2;
		padding: .8435em 0em.8435em 0em;
		font-size: 175%;
} 

header {@include clearfix;
				background-color: $primary; 
				padding-top: 1.687em;
				padding-bottom: 1.687em;
				text-align: center;
				text-transform: uppercase;
					li{list-style: none;}
					a {color: rgba(255, 255, 255, .875);
						 text-decoration: none;
						 line-height: 1.3em;}
					
@media (min-width: $breakpoint-xs){
				padding-top: 0em;
				padding-bottom: 0em;
					  li{float: right;
							 padding: 2em 1em 2em 1em;
							 background-color: #ffe140;
							 @include single-box-shadow;
							 font-size: 160%;}
					  li:first-child{float: left;
						 	 background-color: $quadrary;}
					  li:last-child{background-color: $tertiary;}	 
	}
}

footer {@extend header;
				padding-top: .8435em;
				padding-bottom: .8435em;
	}

.card {@include single-box-shadow;
			 background-color: $secondary;
			 padding: 1.687em 0em 1.687em 0em;
			 -webkit-box-shadow: .1px .2px 2px 0px #34495e;
			 				 box-shadow: .1px .2px 2px 0px #34495e;
 }

.work {@extend .card;
			 li {text-align: center;
			     list-style: none;}
 				a {text-decoration: none;}
 }

.tweets {@extend .card;
 }

#twitter-widget-0 {display: block;
									 margin: 0 auto;
 }

.contact {@extend .card;
					@include clearfix;
							nav{text-align: center;}
							li {list-style: none;
									display: inline-block;
									padding: 1em;}
							 a {font-size: 2.6em;
							 		text-decoration: none;
						 		  color: rgba(255, 151, 0, .79);
						 		  padding: 1.8435em;}

@media (min-width: $breakpoint-xs){
    a {font-size: 3.3em;
			 padding: 2em .6em 2em .6em;}

-webkit-transition: all 0.2s ease-out;
	 -moz-transition: all 0.2s ease-out;  
		 -o-transition: all 0.2s ease-out;  
			  transition: all 0.2s ease-out;}
}
