// Primary color
$cs-primary           : #2c3e50; //rgba(44, 62, 80,1.0); //rgba(136, 240, 241, .5);

$cs-scheme            : mono;
// mono, complement, triad, tetrad, analogic, accented-analogic

$cs-hue-offset        : 30;

$cs-brightness-offset : false;

$cs-color-model       : rgb;
// rgb, ryb

$primary: cs-primary();
$secondary: lighten(cs-secondary(), 17%); // too light, darkening this up a bit.
$tertiary: cs-tertiary();
$quadrary: cs-quadrary();

$color-h2: rgba(0,10,150,.6);
$color-a-transition: rgba(255, 24, 0,.77);