.gn {display: none;}

.transition {
						 -webkit-transition: all 0.9s ease-out;
							  -moz-transition: all 0.9s ease-out;  
								  -o-transition: all 0.9s ease-out;  
							       transition: all 0.9s ease-out;
										  }

.contact a:hover, .nav-hdr a:hover {
																		@extend .transition;
																		color: $color-a-transition;
}

.logo a {
	text-decoration: none;
	color: white;
}