:root {
    --xxs: 0.125rem;
    --xs: 0.25rem;
    --s: 0.5rem;
    --m: 1rem;
    --l: 1.25rem;
    --xl: 1.5rem;
    --xxl: 2rem;
    --xxxl: 3rem;
    --f-base: 14px;
    --font-base: clamp(var(--f-base), calc(var(--f-base) + 1.92vmin), 1.5rem);
    --white-1: hsl(200, 8%, 88%);
    --white-2: hsl(0, 0%, 88%);
    --black-1: hsl(360 0% 0%);
    --black-2: hsl(46 94% 119%);
    --black-3: hsl(200 16% 16%);
    --black-4: hsl(0 0% 20%);
    --black-5: hsl(0 0% 47%);
    --gray-1: hsl(200, 8%, 45%);
    --gray-2: #6d7f88;
    --blue-1: hsl(200 100% 32.9%);
    --blue-2: hsl(201 44% 43%);
    --blue-3: hsl(204 100% 51%);
    --blue-4: hsl(203 89.2% 52.9%);
    --orange-1: hsla(30 60.7% 58% / 0.66);
    --orange-2: hsl(38.8 100% 50%);
    --orange-3: hsl(13.9 95.2% 67.1%);
    --orange-4: #777;
    --bkgnd: var(--black-3);
    --border-radius: var(--s);
    --color-brand: var(--gray-1);
    --text-dark-color: var(--black-3);
    --text-light-color: var(--white-1);
    --text-shadow: var(--white-1);
    --text-shadow-subtle: drop-shadow(0 0 .125px var(--text-shadow));
    --link-color: var(--blue-2);
    --link-ease: cubic-bezier(0.2, 0.8, 0.2, 1);
    --link-timing: 444ms;
    --font-stack:
        "Recursive", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Open-sans, "Droid Sans", "Helvetica Neue", Helvetica, Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --recursive-wght: 400;
    --recursive-CASL: 0;
    --recursive-MONO: 0;
    /* Monospace    */
    --recursive-slnt: 0;
    /* Upright      */
    --recursive-CRSV: 0.5;
    --selection-color: var(--gray-1);
    color-scheme: light dark;

    @supports (color: rgb(from white r g b)) {
        --white-1: oklch(from hsl(200 8%, 88%) l c h);
        --white-2: oklch(from hsl(0, 0%, 88%) l c h);
        --black-1: oklch(from hsl(360 0% 0%) l c h);
        --black-2: oklch(from hsl(46 94% 119%) l c h);
        --black-3: oklch(from hsl(200 16% 16%) l c h);
        --black-4: oklch(from hsl(0 0% 20%) l c h);
        --black-5: oklch(from hsl(0 0% 47%) l c h);
        --gray-1: oklch(from hsl(200, 8%, 45%) l c h);
        --gray-2: oklch(from #6d7f88 l c h);
        --blue-1: oklch(from hsl(200 100% 32.9%) l c h);
        --blue-2: oklch(from hsl(201 44% 43%) l c h);
        --blue-3: oklch(from hsl(204 100% 51%) l c h);
        --blue-4: oklch(from hsl(203 89.2% 52.9%) l c h);
        --orange-1: oklch(from hsla(30 60.7% 58% / 0.66) l c h);
        --orange-2: oklch(from hsl(38.8 100% 50%) l c h);
        --orange-3: oklch(from hsl(13.9 95.2% 67.1%) l c h);
        --orange-4: oklch(from #777 l c h);
    }
}

@media (prefers-color-scheme: dark) {

    body,
    html {
        --text-shadow: var(--white-2);
    }
}