@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  }




@function grid($col, $has-gutter: false) {
	@if $has-gutter {
		@return calc(((100% / #{$columns}) * #{$cols}) - #{$gutter});
	}
	@else {
		@return calc((100% / #{$column}) * #{$cols});
	}
}


@mixin mq($size) {
  @if $size == xs {
    @media screen and (min-width: $bp-xs) {@content}}
  @else if $size == sm {
    @media screen and (min-width: $bp-sm) {@content}}
  @else if $size == m {
    @media screen and (min-width: $bp-m) {@content}}
  @else if $size == ml {
    @media screen and (min-width: $bp-xs - 3em) and (max-width: $bp-lg) {@content}}
  @else if $size == lg {
    @media screen and (min-width: $bp-lg) {@content}}
  @else if $size == xl {
    @media screen and (min-width: $bp-xl) {@content}}
  @else if $size == xxl {
    @media screen and (min-width: $bp-xxl) {@content}}
  }
