footer
  ul
    li: a.icon-linkedin(href="http://www.linkedin.com/in/robertmajames/")
    li: a.icon-twitter(href="https://twitter.com/bkrjames")
    li: a.icon-github(href="https://www.github.com/rmjames")
  p © Robert James 2015

