@layer base, layout, components, utilities;

@import url('base/reset.css') layer(base);
@import url('base/variables.css') layer(base);
@import url('base/typography.css') layer(base);

@import url('layout/structure.css') layer(layout);
@import url('layout/header.css') layer(layout);
@import url('layout/footer.css') layer(layout);

@import url('components/lab.css') layer(components);
@import url('components/buttons.css') layer(components);
@import url('components/skip-link.css') layer(components);
@import url('components/popovers.css') layer(components);
@import url('components/resume.css') layer(components);
@import url('components/icons.css') layer(components);
@import url('components/content.css') layer(components);

@import url('utilities/animations.css') layer(utilities);
@import url('utilities/mpa.css') layer(utilities);